[user]
	name = Takaaki Shirai
	email = 25303121+shiraily@users.noreply.github.com

[includeIf "gitdir:/Users/shirai/tsunagu/"]
	path = ~/.gitconfig_tsunagu

[core]
	editor = vim

[alias]
	st = status
	ss = status -s
	stt = status -uno
	br = branch
	dh = diff HEAD
	dhh = diff HEAD^
	dwd = diff --word-diff

	a = add
	au = add -u
	co = checkout
	cm = commit
	cmm = commit -m
	cmam = commit -a -m
	cman = commit --amend --no-edit

	fp = fetch -p
	p = pull
	pp = pull -p

	rbm = rebase master
	rbi = rebase -i HEAD^
	rbii = rebase -i HEAD^^
[push]
	default = current
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	template = /Users/shirai/.git/.commit_template
[init]
	defaultBranch = main
